<!DOCTYPE html>
<html lang="{{ default .Site.LanguageCode "en-US" }}">

<head>
  {{ partial "head" . }}
</head>

<body id="fullsingle" class="page-template-page-fullsingle-split">

  <div class="fs-split">

    <!-- Image -->
    {{ if .Site.Params.visual.image.enable }}

      <div class="split-image">
      <div class='katie-message' style="display:none;"> Dearest katie kate, thank you for being such and amazing friend.You have been here for my ups and downs, my tears and laughs. I love you loads and loads.Here is a little websoution that I thought that you could use as a temp buisness card while you think about what you may want in solution.I have built the solution on Hugo and it is hosted on my gitlab repo. Its free and you only need to attach a domain. </div>

      </div>

    <!-- Video -->
    {{ else if .Site.Params.visual.video.enable }}

      {{ partial "video" . }}

    {{ end }}

    <!-- Content Side -->
    <div class="split-content">
      <div class="split-content-vertically-center">
        <!-- Intro -->
        {{ partial "intro" . }}

        <!-- Main -->
        {{ block "main" .  }}
          <!-- Bio -->
          {{ partial "bio" . }}
        {{ end }}

        <!-- Footer -->
        {{ partial "footer" . }}
      </div>
    </div>

  </div>

</body>
</html>
