<div class="split-lists">

  {{ range $key, $value := .Site.Params.links }}
    {{ range $key, $list := $value }}

    {{ if $list.link }}
      <div class="split-list">
        <h3>{{ $list.heading }}</h3>
        <ul>
          {{ range $list.link }}
            <li><a href="{{ .url }}" target="_blank">{{ .text }}</a></li>
          {{ end }}
        </ul>
      </div>
    {{ end }}

    {{ end }}
  {{ end }}

</div>
